{% extends 'base.html' %}
{% block title %}
    Acerca
{% endblock %}
{% block body %}
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <div class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Acción</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for r in variable %}
                    <tr>
                        <td>{{r.nombre}}</td>
                        <td>{{r.apellido}}</td>
                        <td>
                            <a href="/editar/{{r.id}}" class="btn btn-warning btn-xs">Editar</a>
                        </td>
                        <td>
                            <a href="/eliminar/{{r.id}}" class="btn btn-danger btn-xs">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}